input::-webkit-input-placeholder{
    color:rgb(0, 17, 255);
    font-size: 18px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgb(0, 17, 255);
    font-size: 18px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#0011ff;
    font-size: 18px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgb(0, 17, 255);
    font-size: 18px;
}
